<h2>The Shopify Metafields Editor</h2>
<p>Because no one knows why Shopify doesn't let you do this in their
    admin.</p>
<p>This just talks directly to Shopify's API and stores information
    in their "metadata" attribute.</p>
<p>When a page is rendered on `storq.co` it will only pull data
    from Shopify's database. This app is completely out-of-band, so
    don't worry. :-)</p>
